/* Sets a background color, font family, and the alignment of the text */
html {
    background-color: #D8C3A5;
    width: 100%;
    font: normal 18px 'Source Sans Pro', sans-serif; 
    text-align: center;
}

/* Sets the height of the header and puts space on the top and bottom */
header {
    height: 80px;
    padding: 80px;
    border: 1px solid #A4AAB6;
    background-image: url(https://cdn.pixabay.com/photo/2018/07/14/22/39/afterglow-3538594_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styles the background of the navigation bar*/
ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #6476A6;
    text-align: center;
}
 /* Styles and arranges the actual text of the navigation bar*/
li a {
    display: block;
    color: white;
    border-bottom: grey;
    padding-top: 43%;
    padding-bottom: 43%;
    border-bottom: 1px solid #A4AAB6;
    text-align: center;
}

/* Whenever the mouse hovers over one of the anchors in the list, it becomes black */
li a:hover {
    background-color: #2D4B87;
}

/*When this page is active, it will be colored a light grey on the navigation bar*/
li a.active {
background-color: #2D4B87;
color: white;
}

/*This will style and arrange the text that is within my section tags in HTML */
section {
    width: 89%;
    height: auto;
    padding: 120px 0 330px 0;
    margin: -5px 10px 20px 10px;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 26px;
    float: right;
    border: 1px solid darkgrey;
    background-color: #f2f2f2;
}

/*Centres my logo in the middle of the page */
img {
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Styles the footer at the bottom of the page */
footer {
    background-color: #6476A6;
    color: white;
    float: right;
    margin-right: 10px;
    padding: 15px;
    bottom: 0;
    width: 87.5%; 
}

